<div class="preset-dialog-inner">
  <div class="input">
      <input type="text" class="sidebar-filter-search-input" />
  </div>
  <div class="buttons">
    <div class="button save">
        <button class="fa fa-check"></button>
    </div>
    <div class="button close">
        <button class="fa fa-times"></button>
    </div>
  </div>
</div>
